@font-face {
  font-family: "iconfont"; /* Project id 2666382 */
  src: url('iconfont.eot?t=1626003567156'); /* IE9 */
  src: url('iconfont.eot?t=1626003567156#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('iconfont.woff2?t=1626003567156') format('woff2'),
       url('iconfont.woff?t=1626003567156') format('woff'),
       url('iconfont.ttf?t=1626003567156') format('truetype'),
       url('iconfont.svg?t=1626003567156#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-fullscreen:before {
  content: "\e66f";
}

.icon-github:before {
  content: "\e604";
}

